*.seed
*.log
*.tsv
*.dat
*.out
*.pid
*.gz
*.DS_Store
*.pyc
*.swp
*.sql~
*.Rproj.user
*.Rhistory
*.RData
*.Rdata
*.Rproj
*.md
*.jpeg
*.xlsx
*.zip
*.iml
info
pids
logs
results

venv
flask
env
npm-debug.log
node_modules
bower_components
public
var
tmp
.env
*~
dump
#*
.#*
.~*
